<div class="row">
    <div class="col-lg-6">
        <h4>TaskForm</h4>

        <form [formGroup]="taskForm" (submit)="onSubmit()">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="title" formControlName="title">
                @if(taskForm.get('title')?.hasError('required') && taskForm.get('title')?.touched) {
                    <div class="form-text text-danger fw-bold">Title is Required.</div>
                }                
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" placeholder="Description" formControlName="description">
                @if(taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched) {
                    <div class="form-text text-danger fw-bold">Description is Required.</div>
                }
            </div>
            <div class="mb-3">
                <label for="duedate" class="form-label">Due Date</label>
                <input type="date" class="form-control" id="duedate" [min]="minDate" placeholder="Due Date" formControlName="duedate">
                @if(taskForm.get('duedate')?.hasError('required') && taskForm.get('duedate')?.touched) {
                    <div class="form-text text-danger fw-bold">Duedate is Required.</div>
                }
            </div>            
            <div>
                <label for="status" class="form-label">Status</label>
                <select class="form-control" formControlName="status" id="status">
                    <option value="pending">Pending</option>
                    <option value="compleated">Compleated</option>
                </select>
                @if(taskForm.get('status')?.hasError('required') && taskForm.get('status')?.touched) {
                    <div class="form-text text-danger fw-bold">Status is Required.</div>
                }
            </div>
            <button type="submit" class="btn btn-success mt-5" >Save Changes</button>
        </form>
    </div>
</div>
